    <!-- sidebar.js -->
    <script src="/assets/js/sidebar.js" defer></script>
<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
  <% if (header.isLogin) { %>
    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Components</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <div id="allProjects">
            <li>
              <a href="components-spinners.html"> <i class="bi bi-circle"></i><span>Spinners</span> </a>
            </li>
          </div>
        </ul>
      </li>
  
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Files</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        </ul>
      </li>
        
      <li class="nav-item">
        <a class="nav-link" href="/project-register">
          <i class="bi bi-grid"></i>
          <span>Project register</span>
        </a>
      </li>
    </ul>
    <% } else { %>
      <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#projects-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-menu-button-wide"></i><span>Projects</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="projects-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
            <li>
              <a href="components-spinners.html"> <i class="bi bi-circle"></i><span>Spinners</span> </a>
            </li>
            <li>
              <a href="components-tooltips.html"> <i class="bi bi-circle"></i><span>Tooltips</span> </a>
            </li>
          </ul>
        </li>
        <!-- End Components Nav -->
    
        <li class="nav-item">
          <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-journal-text"></i><span>Forms</span><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul id="forms-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
            <li>
              <a href="forms-elements.html"> <i class="bi bi-circle"></i><span>Form Elements</span> </a>
            </li>
            <li>
              <a href="forms-layouts.html"> <i class="bi bi-circle"></i><span>Form Layouts</span> </a>
            </li>
            <li>
              <a href="forms-editors.html"> <i class="bi bi-circle"></i><span>Form Editors</span> </a>
            </li>
            <li>
              <a href="forms-validation.html"> <i class="bi bi-circle"></i><span>Form Validation</span> </a>
            </li>
          </ul>
        </li>
    <% } %>
</aside>
<!-- End Sidebar-->
