<%- include('includes/header') %> <%- include('includes/sidebar') %>
<style>
  .modal-body-container::-webkit-scrollbar {
    width: 0.8rem;
  }

  /* Style for the scrollbar thumb (the draggable part) */
  .modal-body-container::-webkit-scrollbar-thumb {
    background-color: #ced0d1;
    /* Set the color you want */
    border-radius: 5px;
    /* Adjust the border radius as needed */
  }

  /* Style for the scrollbar when it's hovered over */
  .modal-body-container::-webkit-scrollbar-thumb:hover {
    background-color: #98999c;
    /* Set a different color for hover state */
  }

  .board-img {
    border-radius: 5px;
    margin: 1rem;
    height: 450px;
    width: 80%;
  }

  .board-img img {
    width: 100%;
    height: 100%;
  }

  .input-group {
    display: flex;
    justify-content: center;
    height: 1rem;
    width: 80%;
  }

  .input-group div {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    height: 2.3rem;
    width: 100%;
  }

  .input-group input {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px solid #bfc0c2;
    height: 2.4rem;
    width: 85%;
  }

  .modal-body button {
    color: white;
    background-color: rgb(24, 111, 217);
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 2.4rem;
    min-width: 60px;
    width: 15%;
  }

  .modal-body-container {
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    max-height: 70vh;
    width: 95%;
    height: 50%;
    border: 1px solid #bfc0c2;
  }

  .modal-body-header {
    min-width: 400px;
    height: 50px;
    width: 80%;
    display: flex;
    justify-content: space-between;
  }

  .modal-body-header p {
    font-size: 1.5rem;
  }

  .modal-body-header button {
    color: white;
    background-color: rgb(24, 111, 217);
    border: none;
    border-radius: 5px;
    height: 2.4rem;
    min-width: 100px;
    width: 10%;
  }

  .profile-img {
    width: 50px;
    height: 50px;
  }

  .profile-img img {
    border-radius: 30px;
    width: 100%;
    height: 100%;
  }

  .comment-txt {
    margin: auto;
    width: 90%;
  }

  .dots {
    height: 4px;
    width: 4px;
    margin-bottom: 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

  .icons i {
    margin-left: 8px;
  }

  .reply {
    margin-left: 12px;
  }

  .reply small {
    color: rgb(18, 103, 156);
  }

  .reply small:hover {
    cursor: pointer;
    color: rgb(0, 49, 245);
  }
</style>
<main id="main" class="main">
  <div class="pagetitle">
    <h1>Board</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">Board</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <section class="section">
    <button type="button" id="add-column-btn" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#verticalycentered">컬럼 추가</button>
    <div id="columns-container" class="row">
      <!-- Column 1 -->
      <div class="col-lg-4">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Column 1</h5>
          </div>
          <!-- Card 1 -->
          <div class="card mb-3">
            <div id="boards-container" class="card-body">
              <h6 class="card-title">Card 1 Title</h6>
              <p class="card-text" id="click-board">Card 1 Description</p>
              <p class="card-deadline">Card-deadline</p>
              <div class="d-flex justify-content-between">
                <button class="btn btn-sm btn-info">Edit</button>
                <button class="btn btn-sm btn-danger">Delete</button>
              </div>
            </div>
          </div>
          <!-- 여기가 보드 동적 생성되는 곳 -->
          <div class="card-footer">
            <button type="button" id="add-board-btn" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#scrollingModal">
              보드 추가
            </button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">보드 삭제</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Vertically centered Modal -->
    <div class="modal fade" id="verticalycentered" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">컬럼 추가</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <input placeholder="컬럼명을 입력해주세요" id="columnName-input" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="createColumn()">추가</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
          </div>
        </div>
      </div>
    </div>
    <!-- 컬럼 수정 모달 -->
    <div class="modal fade" id="update-column-modal" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">컬럼 수정</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <input placeholder="수정할 컬럼명을 입력해주세요" id="update-columnName-input" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            <button type="button" class="btn btn-primary" onclick="updateColumn()">수정</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Vertically centered Modal-->
    <!-- Scrolling Modal -->
    <div class="modal fade" id="scrollingModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">보드 생성</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <!-- General Form Elements -->
          <div class="card">
            <div class="card-body">
              <!-- General Form Elements -->
              <div>
                <div class="row mb-3" style="margin-top: 20px">
                  <label class="col-sm-2 col-form-label">구분</label>
                  <div class="col-sm-10">
                    <select class="form-select" id="createStatus">
                      <option selected value="" disabled>선택</option>
                    </select>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputText" class="col-sm-2 col-form-label">제목</label>
                  <div class="col-sm-10">
                    <input type="text" class="form-control" id="createTitle" />
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">내용</label>
                  <div class="col-sm-10">
                    <textarea type="text" class="form-control" id="createContent" style="height: 100px"></textarea>
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">마감일</label>
                  <div class="col-sm-10">
                    <input type="date" class="form-control" id="createDeadDate" />
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputNumber" class="col-sm-2 col-form-label">파일</label>
                  <div class="col-sm-10">
                    <input class="form-control" type="file" id="createFile" />
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputColor" class="col-sm-2 col-form-label">색상</label>
                  <div class="col-sm-10">
                    <input type="color" class="form-control form-control-color" id="createColor" value="#4154f1" title="Choose your color" />
                  </div>
                </div>
                <div class="row mb-3">
                  <legend class="col-form-label col-sm-2 pt-0">참여자</legend>
                  <div class="col-sm-10" id="createMemberList"></div>
                </div>
              </div>
              <!-- End General Form Elements -->
            </div>
          </div>
          <!-- End General Form Elements -->
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" id="createBoardBtn">생성</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End Scrolling Modal-->
    <!-- Scrolling Modal details -->
    <!-- 모달 창 -->
    <div class="modal fade" id="post-details-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" style="min-width: 530px; max-width: 40%">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body-container">
            <div class="modal-body" style="display: flex; flex-direction: column; align-items: center">
              <!-- 상단에 보더 수정, 삭제 버튼  -->
              <div class="modal-body-header">
                <div class="profile-img">
                  <img src="https://ca.slack-edge.com/T043597JK8V-U055EL25G5D-00f511dc3449-512" />
                </div>
                <p class="profile-name">username</p>
                <div class="button-container">
                  <button type="button" class="btn btn-primary">수정</button>
                  <button type="button" class="btn btn-secondary">삭제</button>
                </div>
              </div>
              <!-- 중앙에 게시물 이미지 및 내용 등의 요소를 추가 -->
              <div class="board-img">
                <img src="https://climate.onep.go.th/wp-content/uploads/2020/01/default-image.jpg" />
              </div>
              <p class="content" style="width: 80%; text-align: center; margin-top: 2rem; font-size: 1.5rem; overflow-wrap: break-word; margin: 1rem">
                tex tex tex tex tex tex textex tex tex tex tex tex textex tex tex tex tex tex textex tex tex tex tex tex textex tex tex tex tex tex
                textex tex tex tex tex tex textex tex tex tex tex tex textex tex tex tex tex tex textex tex tex tex tex tex tex
              </p>
              <!-- 댓글 작성 인풋 박스 및 버튼 -->
              <div class="input-group">
                <div class="comment-container">
                  <input type="text" id="comment-input" placeholder="댓글을 입력하세요" />
                  <button type="button" id="comment-create-btn" data-bs-dismiss="modal" onclick="createComment(this)">작성</button>
                </div>
              </div>

              <!-- 댓글 목록 -->
              <div class="container mt-5">
                <div class="row d-flex justify-content-center" style="margin-top: 0.8rem">
                  <div class="col-md-10">
                    <div id="count-comments-container" class="headings d-flex justify-content-between align-items-center mb-3">
                      <h5 class="count-comments">댓글 수 (0)</h5>
                    </div>
                    <!-- 댓글   -->
                    <div class="comments-container">
                      <div class="row d-flex justify-content-center" style="margin-top: 0.8rem">
                        <div class="col-md-10">
                          <!-- 댓글 하나  -->
                          <div class="card p-3 mt-2">
                            <div class="d-flex justify-content-between align-items-center">
                              <div class="user d-flex flex-row align-items-center">
                                <img src="" width="40" class="user-img rounded-circle mr-2" />
                                <span>
                                  <p id="comment-name" class="font-weight-bold text-primary" style="margin-left: 1rem; font-size: 1rem">${.user}</p>
                                </span>
                              </div>
                              <small></small>
                            </div>
                            <div class="comment-txt">
                              <p></p>
                            </div>
                            <div class="action d-flex justify-content-between mt-2 align-items-center">
                              <div class="reply px-4">
                                <small data-comment-id="${data.id}">답글</small>
                                <span class="dots"></span>
                                <small data-comment-id="${data.id}">수정</small>
                                <span class="dots"></span>
                                <small data-comment-id="${data.id}">삭제</small>
                              </div>
                              <div class="icons align-items-center">
                                <i class="fa fa-check-circle-o check-icon text-primary"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <!-- 수정, 삭제 버튼 등 필요한 버튼을 추가 -->
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
          </div>
        </div>
      </div>
    </div>
    <!--  End Scrolling Modal details -->
    <!-- Scrolling Modal Edit -->
    <div class="modal fade" id="scrollingEditModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">보드 수정</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <!-- General Form Elements -->
          <div class="card">
            <div class="card-body">
              <!-- General Form Elements -->
              <div class="row mb-3" id="title-box">
                <label for="inputText" class="col-sm-2 col-form-label">제목</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="editTitle" />
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">내용</label>
                <div class="col-sm-10">
                  <textarea type="text" class="form-control" id="editContent" style="height: 100px"></textarea>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label">마감일</label>
                <div class="col-sm-10">
                  <input type="date" class="form-control" id="editDeadDate" />
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputNumber" class="col-sm-2 col-form-label">파일</label>
                <div class="col-sm-10">
                  <input class="form-control" type="file" id="editFile" />
                </div>
              </div>
              <div class="row mb-3">
                <label for="inputColor" class="col-sm-2 col-form-label">색상</label>
                <div class="col-sm-10">
                  <input type="color" class="form-control form-control-color" id="editColor" value="#4154f1" title="Choose your color" />
                </div>
              </div>
              <div class="row mb-3">
                <legend class="col-form-label col-sm-2 pt-0">참여자</legend>
                <div class="col-sm-10" id="editMemberList"></div>
              </div>
            </div>
            <!-- End General Form Elements -->
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" id="editBoardBtn" onclick="editBoard(this)">수정</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Scrolling Modal-->
    <!-- comment-edit-modal -->
    <div class="modal fade" id="comment-edit-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" style="min-width: 530px; max-width: 40%">
        <div class="modal-content">
          <div class="modal-body-container">
            <div class="modal-body" style="display: flex; flex-direction: column; align-items: center">
              <!-- 댓글 작성 인풋 박스 및 버튼 -->
              <div class="input-group">
                <div class="comment-container">
                  <input id="comment-edit-input" type="text" id="comment-input" placeholder="댓글을 입력하세요" />
                </div>
              </div>
              <div class="modal-footer">
                <!-- 수정, 삭제 버튼 등 필요한 버튼을 추가 -->
                <div class="commentBtn-container">
                  <button type="button" id="comment-edit-btn">수정</button>
                  <button type="button" style="background-color: gray" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- </div> -->
    <!-- </div> -->
  </section>
</main>
<!-- End #main -->
<%- include('includes/footer') %>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/chart.js/chart.umd.js"></script>
<script src="/assets/vendor/echarts/echarts.min.js"></script>
<script src="/assets/vendor/quill/quill.min.js"></script>
<script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="/assets/vendor/tinymce/tinymce.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>

<!-- Project JS File -->
<script src="/assets/js/board.js"></script>
<script src="/assets/js/comments.js"></script>
