<%- include('includes/header') %>
  <%- include('includes/sidebar') %>

    <main id="main" class="main">

      <div class="pagetitle">
        <h1>프로필</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item">Users</li>
            <li class="breadcrumb-item active">Profile</li>
          </ol>
        </nav>
      </div><!-- End Page Title -->

      <section class="section profile">
        <div class="row">
          <div class="col-xl-4">

            <div class="card">
              <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                <img class="rounded-circle mb-3" id="mainImage">
                <h2 id="mainName">

                </h2>
                <h3 id="mainEmail">

                </h3>
              </div>
            </div>

          </div>

          <div class="col-xl-8">

            <div class="card">
              <div class="card-body pt-3">
                <!-- Bordered Tabs -->
                <ul class="nav nav-tabs nav-tabs-bordered">

                  <li class="nav-item">
                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">내
                      정보</button>
                  </li>

                  <li class="nav-item">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">프로필 수정</button>
                  </li>

                  <li class="nav-item">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">비밀번호
                      변경</button>
                  </li>

                  <li class="nav-item">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">회원 탈퇴</button>
                  </li>

                </ul>
                <div class="tab-content pt-2">

                  <div class="tab-pane fade show active profile-overview" id="profile-overview">

                    <h5 class="card-title">프로필 상세 정보</h5>

                    <div class="row">
                      <div class="col-lg-3 col-md-4 label ">이메일</div>
                      <div class="col-lg-9 col-md-8" id="infoEmail"></div>
                    </div>

                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">이름</div>
                      <div class="col-lg-9 col-md-8" id="infoName"></div>
                    </div>

                  </div>

                  <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                    <!-- Profile Edit Form -->
                    <div>
                      <div class="row mb-3">
                        <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">프로필 사진</label>
                        <div class="col-md-8 col-lg-9">
                          <img id="editImage">
                          <div class="pt-2">
                            <input type="file" class="btn  btn-sm" id="editProfileImage"></a>
                          </div>
                        </div>
                      </div>

                      <div class="row mb-3">
                        <label for="editName" class="col-md-4 col-lg-3 col-form-label">이름</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="editName" type="text" class="form-control" id="editName" value="Kevin Anderson">
                        </div>
                      </div>

                      <div class="text-center">
                        <button class="btn btn-primary" id="editBtn">수정</button>
                      </div>
                    </div><!-- End Profile Edit Form -->

                  </div>

                  <div class="tab-pane fade pt-3" id="profile-settings">

                    <!-- Settings Form -->
                    <div>

                      <div class="row mb-3">
                        <label for="fullName" class="col-md-4 col-lg-3 col-form-label">패스워드</label>
                        <div class="col-md-8 col-lg-9">
                          <div class="col-md-8 col-lg-9">
                            <input type="password" class="form-control" id="removePassword">
                          </div>
                        </div>
                      </div>

                      <div class="text-center">
                        <button class="btn btn-primary" id="removeUserBtn">회원 탈퇴</button>
                      </div>
                    </div><!-- End settings Form -->

                  </div>

                  <div class="tab-pane fade pt-3" id="profile-change-password">
                    <!-- Change Password Form -->
                    <div>

                      <div class="row mb-3">
                        <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">현재 패스워드</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="password" type="password" class="form-control" id="editCurrentPassword">
                        </div>
                      </div>

                      <div class="row mb-3">
                        <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">신규 패스워드</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="newpassword" type="password" class="form-control" id="editNewPassword">
                        </div>
                      </div>

                      <div class="row mb-3">
                        <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">신규 확인 패스워드</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="renewpassword" type="password" class="form-control" id="editNewConfirmPassword">
                        </div>
                      </div>

                      <div class="text-center">
                        <button class="btn btn-primary" id="passowrdEditBtn">패스워드 변경</button>
                      </div>
                    </div><!-- End Change Password Form -->

                  </div>

                </div><!-- End Bordered Tabs -->

              </div>
            </div>

          </div>
        </div>
      </section>

    </main><!-- End #main -->

    <%- include('includes/footer') %>

      <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
          class="bi bi-arrow-up-short"></i></a>

      <!-- Vendor JS Files -->
      <script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
      <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="/assets/vendor/chart.js/chart.umd.js"></script>
      <script src="/assets/vendor/echarts/echarts.min.js"></script>
      <script src="/assets/vendor/quill/quill.min.js"></script>
      <script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
      <script src="/assets/vendor/tinymce/tinymce.min.js"></script>
      <script src="/assets/vendor/php-email-form/validate.js"></script>

      <!-- Project JS Files -->
      <script type="module" src="/assets/js/profile.js"></script>
      </body>

      </html>